Final_project.json
[{"id":"3eed236a.e6e66c","type":"tab","label":"Final Project","disabled":false,"info":"# Poorya Mohammadi Nasab\n## 9621160025 \n\n### _**iot course final project**_ \n    smart home system"},{"id":"5c4bde2e.92255","type":"ui_switch","z":"3eed236a.e6e66c","name":"Lock","label":"Lock","tooltip":"","group":"725a513a.7eeb5","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":220,"wires":[["4b4e5a6d.46ea34"]]},{"id":"bbc94687.d305e8","type":"ui_slider","z":"3eed236a.e6e66c","name":"Light","label":"Light","tooltip":"","group":"725a513a.7eeb5","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":570,"y":300,"wires":[["7ce43acf.dc8184","a5d0846b.f39c58"]]},{"id":"ad153165.86e0f","type":"ui_chart","z":"3eed236a.e6e66c","name":"Temprature","group":"cad5dfd6.a4422","order":1,"width":"0","height":"0","label":"Temprature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#e40bf9","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1230,"y":80,"wires":[[]]},{"id":"ec8d2ff4.b6197","type":"ui_chart","z":"3eed236a.e6e66c","name":"Humidity Chart","group":"cad5dfd6.a4422","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#25f20f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":120,"wires":[[]]},{"id":"78d96a73.09ceb4","type":"ui_text","z":"3eed236a.e6e66c","group":"6bf6e3db.d3639c","order":3,"width":0,"height":0,"name":"Temp Value","label":"Temprature:","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":200,"wires":[]},{"id":"be0c940.5dac47","type":"ui_text","z":"3eed236a.e6e66c","group":"6bf6e3db.d3639c","order":6,"width":0,"height":0,"name":"Humidity Value","label":"Humidity:","format":"{{msg.payload}}","layout":"col-center","x":1240,"y":420,"wires":[]},{"id":"be44259b.3d3a68","type":"ui_text","z":"3eed236a.e6e66c","group":"6bf6e3db.d3639c","order":9,"width":0,"height":0,"name":"Lock Status","label":"Lock Status:","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":460,"wires":[]},{"id":"29131d3a.4643a2","type":"ui_text_input","z":"3eed236a.e6e66c","name":"User Email ","label":"Email Address","tooltip":"","group":"2f528b70.cadb14","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":530,"y":620,"wires":[["79f9da08.15da84"]]},{"id":"9cd18417.711c98","type":"ui_table","z":"3eed236a.e6e66c","group":"47dc2965.7014f8","name":"Data table","order":0,"width":"10","height":"13","columns":[],"outputs":0,"cts":false,"x":1230,"y":540,"wires":[]},{"id":"3c659514.12485a","type":"ui_text_input","z":"3eed236a.e6e66c","name":"Firstname","label":"Firstname","tooltip":"","group":"2f528b70.cadb14","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":540,"y":500,"wires":[["bc108147.8f951"]]},{"id":"81628644.2c2b98","type":"ui_text_input","z":"3eed236a.e6e66c","name":"Lastname","label":"Lastname","tooltip":"","group":"2f528b70.cadb14","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":540,"y":540,"wires":[["442600bc.926b9"]]},{"id":"b7cb3015.e1309","type":"ui_text_input","z":"3eed236a.e6e66c","name":"Phone","label":"Phone number","tooltip":"","group":"2f528b70.cadb14","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":550,"y":580,"wires":[["a16d5b1a.f45b98"]]},{"id":"eac37692.32d348","type":"ui_gauge","z":"3eed236a.e6e66c","name":"Light Level","group":"cad5dfd6.a4422","order":3,"width":"0","height":"0","gtype":"wave","title":"Lightness","label":"%","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":680,"wires":[]},{"id":"f0262902.c93c48","type":"ui_gauge","z":"3eed236a.e6e66c","name":"Temp Gauge","group":"6bf6e3db.d3639c","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":240,"wires":[]},{"id":"929da28.8fe816","type":"ui_gauge","z":"3eed236a.e6e66c","name":"Humidity Gauge","group":"6bf6e3db.d3639c","order":7,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":380,"wires":[]},{"id":"7dfe650a.65d6ec","type":"openweathermap","z":"3eed236a.e6e66c","name":"Temp , Humidity","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":580,"y":60,"wires":[["ce764ae6.88a438","b0a89be5.f57338"]]},{"id":"f9bdfd1a.db328","type":"ui_dropdown","z":"3eed236a.e6e66c","name":"City Name","label":"City","tooltip":"","place":"Select option","group":"2f528b70.cadb14","order":6,"width":0,"height":0,"passthru":false,"options":[{"label":"Isfahan","value":"Isfahan","type":"str"},{"label":"Karaj","value":"Karaj","type":"str"},{"label":"Ardabil","value":"Ardabil","type":"str"},{"label":"Tabriz","value":"Tabriz","type":"str"},{"label":"Urmia","value":"Urmia","type":"str"},{"label":"Bushehr","value":"Bushehr","type":"str"},{"label":"Shahrekord","value":"Shahrekord","type":"str"},{"label":"Shiraz","value":"Shiraz","type":"str"},{"label":"Rasht","value":"Rasht","type":"str"},{"label":"Gorgan","value":"Gorgan","type":"str"},{"label":"Hamadan","value":"Hamadan","type":"str"},{"label":"Ilam","value":"Ilam","type":"str"},{"label":"Kerman","value":"Kerman","type":"str"},{"label":"Kermanshah","value":"Kermanshah","type":"str"},{"label":"Mashhad","value":"Mashhad","type":"str"},{"label":"Ahvaz","value":"Ahvaz","type":"str"},{"label":"Tehran","value":"Tehran","type":"str"},{"label":"Yazd","value":"Yazd","type":"str"}],"payload":"","topic":"","x":530,"y":660,"wires":[["b1b1346c.342b88","7768ea9c.454294","2493981.f54ec68"]]},{"id":"b1b1346c.342b88","type":"link out","z":"3eed236a.e6e66c","name":"City","links":["d5ff0b3c.11cdb8","1cbf4954.879fd7","c310003.07e8"],"x":635,"y":660,"wires":[]},{"id":"3a6df4bd.0d85fc","type":"ui_text","z":"3eed236a.e6e66c","group":"6bf6e3db.d3639c","order":1,"width":0,"height":0,"name":"Weather","label":"Weather Status:","format":"{{msg.payload}}","layout":"col-center","x":1220,"y":340,"wires":[]},{"id":"44fd7957.9ae4a8","type":"function","z":"3eed236a.e6e66c","name":"Set City","func":"var InCity = global.get(\"CCity\");\nvar InCountry = 'Iran'\n\nmsg.location.city = InCity;\nmsg.location.country = InCountry;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["7dfe650a.65d6ec"]]},{"id":"b98eb98e.8287b8","type":"change","z":"3eed236a.e6e66c","name":"Add city,country","rules":[{"t":"set","p":"location.city","pt":"msg","to":"","tot":"str"},{"t":"set","p":"location.country","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":60,"wires":[["44fd7957.9ae4a8"]]},{"id":"bc610082.691c9","type":"change","z":"3eed236a.e6e66c","name":"Weather","rules":[{"t":"move","p":"payload.detail","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":340,"wires":[["3a6df4bd.0d85fc"]]},{"id":"84679b03.8bda08","type":"change","z":"3eed236a.e6e66c","name":"HUM","rules":[{"t":"move","p":"payload.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":400,"wires":[["929da28.8fe816","be0c940.5dac47"]]},{"id":"393a0203.3fd13e","type":"change","z":"3eed236a.e6e66c","name":"Temp","rules":[{"t":"move","p":"payload.tempc","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":220,"wires":[["78d96a73.09ceb4","f0262902.c93c48"]]},{"id":"ce764ae6.88a438","type":"link out","z":"3eed236a.e6e66c","name":"Weather","links":["a7f9aea1.c341f","b9e69fa1.18b77","9343371b.24cf38","28276e05.dd8022","2c57fb08.09d974","bc1bf7e5.895a18","87505775.f0d1e8"],"x":715,"y":60,"wires":[]},{"id":"a7f9aea1.c341f","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":975,"y":220,"wires":[["393a0203.3fd13e"]]},{"id":"b9e69fa1.18b77","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":975,"y":340,"wires":[["bc610082.691c9"]]},{"id":"9343371b.24cf38","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":975,"y":400,"wires":[["84679b03.8bda08"]]},{"id":"28276e05.dd8022","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":975,"y":80,"wires":[["87ebda79.97d1d8"]]},{"id":"87ebda79.97d1d8","type":"change","z":"3eed236a.e6e66c","name":"Temp","rules":[{"t":"move","p":"payload.tempc","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":80,"wires":[["ad153165.86e0f"]]},{"id":"2c57fb08.09d974","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":975,"y":120,"wires":[["1f8fa769.4817d9"]]},{"id":"1f8fa769.4817d9","type":"change","z":"3eed236a.e6e66c","name":"HUM","rules":[{"t":"move","p":"payload.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":120,"wires":[["ec8d2ff4.b6197"]]},{"id":"11844350.a20fbd","type":"ui_text","z":"3eed236a.e6e66c","group":"725a513a.7eeb5","order":1,"width":0,"height":0,"name":"Location","label":"Current Location","format":"{{msg.payload}}","layout":"col-center","x":560,"y":180,"wires":[]},{"id":"c310003.07e8","type":"link in","z":"3eed236a.e6e66c","name":"City","links":["b1b1346c.342b88"],"x":455,"y":180,"wires":[["11844350.a20fbd"]]},{"id":"16048e18.4d8272","type":"sqlite","z":"3eed236a.e6e66c","mydb":"ee746112.8912a","sqlquery":"msg.topic","sql":"","name":"DataBase","x":1080,"y":540,"wires":[["9cd18417.711c98"]]},{"id":"bafa1f41.e43e7","type":"inject","z":"3eed236a.e6e66c","name":"ENJ","topic":"select * from Data order by id DESC","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"1","x":950,"y":540,"wires":[["16048e18.4d8272"]]},{"id":"59ff1e5f.ffb66","type":"template","z":"3eed236a.e6e66c","name":"insert Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into Data (Date,Time,Temp,Humidity,Light)values('{{Date}}','{{Time}}',{{payload.tempc}},{{payload.humidity}},{{global.UserLight}});","output":"str","x":470,"y":1080,"wires":[["4d8d23f4.d2dcdc"]]},{"id":"fb47926f.99d6e","type":"function","z":"3eed236a.e6e66c","name":"Date Splitter","func":"var Time = msg.time.toString();\nvar timeList = Time.split(\" \");\nmsg.Date = timeList[3]+\"-\"+timeList[1]+\"-\"+timeList[2];\nglobal.set(\"CDate\",msg.Date);\nvar zaman= timeList[4].split(\":\");\nmsg.Time = zaman[0]+\"-\"+zaman[1]+\"-\"+zaman[2];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["59ff1e5f.ffb66"]]},{"id":"bc1bf7e5.895a18","type":"link in","z":"3eed236a.e6e66c","name":"","links":["ce764ae6.88a438"],"x":195,"y":1080,"wires":[["fb47926f.99d6e"]]},{"id":"4d8d23f4.d2dcdc","type":"sqlite","z":"3eed236a.e6e66c","mydb":"ee746112.8912a","sqlquery":"msg.topic","sql":"","name":"DataBase","x":620,"y":1080,"wires":[[]]},{"id":"4b4e5a6d.46ea34","type":"link out","z":"3eed236a.e6e66c","name":"Lock","links":["61225c2.52a23a4","c52932e6.27df9"],"x":655,"y":220,"wires":[]},{"id":"61225c2.52a23a4","type":"link in","z":"3eed236a.e6e66c","name":"Lock","links":["4b4e5a6d.46ea34"],"x":955,"y":460,"wires":[["5dbc4c46.aada74"]]},{"id":"5dbc4c46.aada74","type":"function","z":"3eed236a.e6e66c","name":"Open/Close","func":"if (msg.payload == true){\n    msg.payload = \"Open\";\n}\nelse {\n    msg.payload = \"Close\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[["be44259b.3d3a68"]]},{"id":"7ce43acf.dc8184","type":"link out","z":"3eed236a.e6e66c","name":"Light","links":["fd9a3f1f.61861"],"x":655,"y":300,"wires":[]},{"id":"bc108147.8f951","type":"change","z":"3eed236a.e6e66c","name":"Firstname","rules":[{"t":"move","p":"payload","pt":"msg","to":"firstname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[[]]},{"id":"442600bc.926b9","type":"change","z":"3eed236a.e6e66c","name":"Lastname","rules":[{"t":"move","p":"payload","pt":"msg","to":"lastname","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[[]]},{"id":"79f9da08.15da84","type":"change","z":"3eed236a.e6e66c","name":"Email","rules":[{"t":"move","p":"payload","pt":"msg","to":"email","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":620,"wires":[[]]},{"id":"87505775.f0d1e8","type":"link in","z":"3eed236a.e6e66c","name":"Weather","links":["ce764ae6.88a438"],"x":480,"y":920,"wires":[["cc86119.41ef2f"]]},{"id":"cc86119.41ef2f","type":"change","z":"3eed236a.e6e66c","name":"Wheather globals","rules":[{"t":"move","p":"payload.tempc","pt":"msg","to":"tempC","tot":"global"},{"t":"move","p":"payload.humidity","pt":"msg","to":"Humi","tot":"global"},{"t":"move","p":"payload.detail","pt":"msg","to":"Details","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":920,"wires":[[]]},{"id":"d83700a.5904b","type":"telegram command","z":"3eed236a.e6e66c","name":"Help Command","command":"/help","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":220,"y":1580,"wires":[["c279996.b2d6c68"],[]]},{"id":"65891d56.0a3a54","type":"function","z":"3eed236a.e6e66c","name":"Help Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1580,"wires":[["9673225c.cd9cd"]]},{"id":"9673225c.cd9cd","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":730,"y":1580,"wires":[[]]},{"id":"c279996.b2d6c68","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This TelegramBot designed by Poorya Mohammadi nasab\n\nwith this robot you can manage your smart home.\n\nsee current temprature and set your ideal temp.\nsee humidity value.\nsee current breightness and set brightness of smart home.\nsee weather description\n\nthis robot is run in node-red server \n\nthis project use several software and hardware APIs:\n    1. dataplicity (to deploy this project on web)\n    2. openweather (get current weather data from your location)\n    3. telegram bot api( to handle this bot)\n    4. gmail api ( to send data to your email address)\n    5. firmata ( connecting Arduino board to node-red )\n    ","output":"str","x":380,"y":1580,"wires":[["65891d56.0a3a54"]]},{"id":"a835648b.f8f1c8","type":"telegram command","z":"3eed236a.e6e66c","name":"About Command","command":"/about_us","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":200,"y":1640,"wires":[["1e81f5bc.ae44ea"],[]]},{"id":"59f91b8a.765574","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1640,"wires":[["9a9eecd7.0b375"]]},{"id":"9a9eecd7.0b375","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1640,"wires":[[]]},{"id":"1e81f5bc.ae44ea","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://drive.google.com/file/d/1_ACXit9aWfjpMjvE1xdlPQAQgGIz4JgQ/view?usp=sharing","output":"str","x":370,"y":1640,"wires":[["59f91b8a.765574"]]},{"id":"fbba54b.87cbca8","type":"telegram command","z":"3eed236a.e6e66c","name":"see temp","command":"/get_temp","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":180,"y":1700,"wires":[["246beb0e.7fe334"],[]]},{"id":"a28f0182.3b3fb","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1700,"wires":[["c99ea8c9.8b16b8"]]},{"id":"c99ea8c9.8b16b8","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1700,"wires":[[]]},{"id":"246beb0e.7fe334","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current Temprature :\n    {{global.CWeather.tempc}} Centigrades\n    {{global.CWeather.tempk}} Kelvin","output":"str","x":340,"y":1700,"wires":[["a28f0182.3b3fb"]]},{"id":"b0a89be5.f57338","type":"change","z":"3eed236a.e6e66c","name":"global_weather","rules":[{"t":"move","p":"payload","pt":"msg","to":"CWeather","tot":"global"},{"t":"move","p":"location","pt":"msg","to":"CLocation","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":20,"wires":[[]]},{"id":"3dd51c41.1eb614","type":"telegram command","z":"3eed236a.e6e66c","name":"see humidity","command":"/get_humidity","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":190,"y":1760,"wires":[["705c184d.0580c8"],[]]},{"id":"1134e3cc.052d7c","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1760,"wires":[["47523ed8.205c1"]]},{"id":"47523ed8.205c1","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1760,"wires":[[]]},{"id":"705c184d.0580c8","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current Humidity = {{global.CWeather.humidity}}%\n    ","output":"str","x":360,"y":1760,"wires":[["1134e3cc.052d7c"]]},{"id":"c7f114b9.7b49c8","type":"telegram command","z":"3eed236a.e6e66c","name":"see weather","command":"/get_weather","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":190,"y":1820,"wires":[["9fd18b1.2420878"],[]]},{"id":"45badbba.e886f4","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1820,"wires":[["1450e52d.22854b"]]},{"id":"1450e52d.22854b","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1820,"wires":[[]]},{"id":"9fd18b1.2420878","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    Weather Description : \n{{global.CWeather.detail}}\n    ","output":"str","x":360,"y":1820,"wires":[["45badbba.e886f4"]]},{"id":"47400d3f.6c2864","type":"telegram command","z":"3eed236a.e6e66c","name":"see light","command":"/get_light","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":180,"y":1880,"wires":[["d31ddc2c.0967c"],[]]},{"id":"15e1a2b8.58fbad","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1880,"wires":[["d3125f03.94a15"]]},{"id":"d3125f03.94a15","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1880,"wires":[[]]},{"id":"d31ddc2c.0967c","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Brightness :\n{{global.CCLight}}%\n    ","output":"str","x":360,"y":1880,"wires":[["15e1a2b8.58fbad"]]},{"id":"a16d5b1a.f45b98","type":"change","z":"3eed236a.e6e66c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"phone","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":580,"wires":[[]]},{"id":"c8cc42c1.797d9","type":"telegram command","z":"3eed236a.e6e66c","name":"see profile","command":"/see_profile","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":180,"y":1940,"wires":[["5d4e8823.a33e88"],[]]},{"id":"3e4ddddb.bb6892","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1940,"wires":[["72833508.931f7c"]]},{"id":"72833508.931f7c","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":750,"y":1940,"wires":[[]]},{"id":"5d4e8823.a33e88","type":"template","z":"3eed236a.e6e66c","name":"contents","field":"payload.content","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Account Information:\nfullname : {{global.firstname}} {{global.lastname}}\nemail : {{global.email}}\nphone : {{global.phone}}\nCurrent location : {{global.CLocation.city}},{{global.CLocation.country}}\n    ","output":"str","x":360,"y":1940,"wires":[["3e4ddddb.bb6892"]]},{"id":"2a18735c.8a241c","type":"telegram receiver","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","saveDataDir":"","filterCommands":false,"x":210,"y":1520,"wires":[[],[]]},{"id":"1a94ac27.71a3c4","type":"inject","z":"3eed236a.e6e66c","name":"Auto-1 min","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["b98eb98e.8287b8"]]},{"id":"7768ea9c.454294","type":"change","z":"3eed236a.e6e66c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"CCity","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":700,"wires":[[]]},{"id":"2493981.f54ec68","type":"debug","z":"3eed236a.e6e66c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":660,"wires":[]},{"id":"66a1aece.69487","type":"telegram command","z":"3eed236a.e6e66c","name":"set temp","command":"/set_temp","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":180,"y":2000,"wires":[["60204961.3a0838"],[]]},{"id":"60204961.3a0838","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nvar InTemp = parseInt(msg.payload.content);\nif (isNaN(InTemp)){\n    var MMsg =  \"invalid format !\\n\";\n    MMsg += \"Your message must be like this :\\n\";\n    MMsg += \"/set_temp temp_value\";\n    msg.payload.content = MMsg;\n}\nelse{\n    msg.payload.content = \"User Temp Updated!\";\n    global.set(\"UserTemp\",InTemp);\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2000,"wires":[["f6baf1e0.7f6f3"]]},{"id":"f6baf1e0.7f6f3","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":610,"y":2000,"wires":[[]]},{"id":"c43ebbd9.f1dfd8","type":"telegram command","z":"3eed236a.e6e66c","name":"set light","command":"/set_light","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":170,"y":2060,"wires":[["a1b2d61b.81e1d8"],[]]},{"id":"a1b2d61b.81e1d8","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nvar InLight = parseInt(msg.payload.content);\nif (isNaN(InLight)){\n    var MMsg =  \"invalid format !\\n\";\n    MMsg += \"Your message must be like this :\\n\";\n    MMsg += \"/set_light light_value\";\n    msg.payload.content = MMsg;\n}\nelse{\n    msg.payload.content = \"User light Updated!\";\n    global.set(\"UserLight\",InLight);\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2060,"wires":[["81680bca.4741b8"]]},{"id":"81680bca.4741b8","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":610,"y":2060,"wires":[[]]},{"id":"2e9ff94d.59e796","type":"telegram command","z":"3eed236a.e6e66c","name":"send_email","command":"/email","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":190,"y":2120,"wires":[["fe62f65a.ae9b98","9a1c1ba4.e7edd8"],[]]},{"id":"fe62f65a.ae9b98","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\nmsg.payload.content = \"information sent to your email\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2120,"wires":[["bece90dc.a9208"]]},{"id":"bece90dc.a9208","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":610,"y":2120,"wires":[[]]},{"id":"3923f7c9.54f868","type":"ui_toast","z":"3eed236a.e6e66c","position":"top right","displayTime":"10","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Message sent to your Email","name":"Email_Alert","x":870,"y":2240,"wires":[]},{"id":"807f45c1.2a4408","type":"e-mail out","z":"3eed236a.e6e66c","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":850,"y":2160,"wires":[[]]},{"id":"a3298835.47a3d8","type":"change","z":"3eed236a.e6e66c","name":"Email Properties","rules":[{"t":"set","p":"to","pt":"msg","to":"","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"","tot":"str"},{"t":"set","p":"subject","pt":"msg","to":"","tot":"str"},{"t":"set","p":"body","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2180,"wires":[["e9a53795.fe3288"]]},{"id":"e9a53795.fe3288","type":"function","z":"3eed236a.e6e66c","name":"Make Email","func":"var address = global.get(\"email\");\nvar fullname = global.get(\"firstname\") + ' ' + global.get(\"lastname\");\nmsg.to = [{ \"address\": address , \"name\": fullname}];\nmsg.from = [ { \"address\": \"poorya.m.n.b@gmail.com\", \"name\": \"poorya-nodered\" }];\nmsg.subject = \"IOT DATA\";\nvar Boody = \"Dear \" + fullname;\nBoody += \"\\n\\t Date : \" + global.get(\"CDate\");\nBoody += \"\\n\\t Time :\"+ global.get(\"CTime\");\nBoody += \"\\n\\t Temprature : \"+ global.get(\"tempC\");\nBoody += \"\\n\\t Humidity : \"+ global.get(\"Humi\");\nBoody += \"\\n\\t Descriptions : \" + global.get(\"Details\");\nmsg.body= Boody;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2180,"wires":[["5033c636.2e8608","807f45c1.2a4408","3923f7c9.54f868"]]},{"id":"5033c636.2e8608","type":"debug","z":"3eed236a.e6e66c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":2200,"wires":[]},{"id":"186efd44.d83173","type":"ui_button","z":"3eed236a.e6e66c","name":"Sender","group":"725a513a.7eeb5","order":10,"width":0,"height":0,"passthru":false,"label":"Send data to my email","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":220,"y":2180,"wires":[["9a1c1ba4.e7edd8"]]},{"id":"9a1c1ba4.e7edd8","type":"function","z":"3eed236a.e6e66c","name":"Time","func":"msg.timestamp = Math.round(+new Date());\nvar dt = new Date(msg.timestamp);\nvar TT = dt.getHours() + \":\"+ dt.getMinutes();\nglobal.set(\"CTime\",TT);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2180,"wires":[["a3298835.47a3d8"]]},{"id":"631cf438.00c4fc","type":"twilio out","z":"3eed236a.e6e66c","twilio":"1ef16191.9ff59e","twilioType":"sms","url":"","number":"+989103542243","name":"sms","x":690,"y":820,"wires":[]},{"id":"4ac4d66c.57fea8","type":"inject","z":"3eed236a.e6e66c","name":"inj","topic":"","payload":"Hello poorya","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":820,"wires":[["631cf438.00c4fc"]]},{"id":"25bcc395.f3ad2c","type":"function","z":"3eed236a.e6e66c","name":"Lock St","func":"if (msg.payload == true){\n    msg.payload = 1;\n}\nelse{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2360,"wires":[["2a14814b.bf690e"]]},{"id":"c52932e6.27df9","type":"link in","z":"3eed236a.e6e66c","name":"Lock","links":["4b4e5a6d.46ea34"],"x":275,"y":2360,"wires":[["25bcc395.f3ad2c"]]},{"id":"3df500ed.384b3","type":"function","z":"3eed236a.e6e66c","name":"LED Manager","func":"var x = msg.payload;\n\nif(x >= 90){\n    L1= 1;\n    L2= 1;\n    L3= 1;\n    L4= 1;\n    L5= 1;\n}\nelse if(x >=80){\n    L1= 1;\n    L2= 1;\n    L3= 1;\n    L4= 1;\n    L5= 0;\n}\nelse if(x >=60){\n    L1= 1;\n    L2= 1;\n    L3= 1;\n    L4= 0;\n    L5= 0;\n}\nelse if(x >=40){\n    L1= 1;\n    L2= 1;\n    L3= 0;\n    L4= 0;\n    L5= 0;\n}\nelse if(x >=20){\n    L1= 1;\n    L2= 0;\n    L3= 0;\n    L4= 0;\n    L5= 0;\n}\nelse{\n    L1= 0;\n    L2= 0;\n    L3= 0;\n    L4= 0;\n    L5= 0; \n}\nvar msg1 ={payload : L1} ;\nvar msg2={payload : L2};\nvar msg3={payload : L3};\nvar msg4={payload : L4};\nvar msg5={payload : L5};\n\nreturn [msg1,msg2,msg3,msg4,msg5];\n\n\n\n","outputs":5,"noerr":0,"x":740,"y":2560,"wires":[["b764869f.db1bf8"],["f1d0618a.156"],["56a24c0a.aa5b34"],["9bbdda7a.038ac8"],["4b334b60.0b8044"]]},{"id":"c342e719.1dfea8","type":"inject","z":"3eed236a.e6e66c","name":"","topic":"","payload":"UserLight","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":2560,"wires":[["3df500ed.384b3"]]},{"id":"b764869f.db1bf8","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"5","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":930,"y":2480,"wires":[]},{"id":"f1d0618a.156","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"16","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":940,"y":2520,"wires":[]},{"id":"56a24c0a.aa5b34","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"13","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":940,"y":2560,"wires":[]},{"id":"9bbdda7a.038ac8","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"2","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":930,"y":2600,"wires":[]},{"id":"4b334b60.0b8044","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"15","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":940,"y":2640,"wires":[]},{"id":"2a14814b.bf690e","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"12","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":560,"y":2360,"wires":[]},{"id":"db88ac5e.e0155","type":"ui_switch","z":"3eed236a.e6e66c","name":"Fan","label":"Fan","tooltip":"","group":"725a513a.7eeb5","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":400,"wires":[["54198f01.42cb1"]]},{"id":"54198f01.42cb1","type":"function","z":"3eed236a.e6e66c","name":"Fan st","func":"if (msg.payload == true){\n    msg.payload = 1;\n}\nelse{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["1eae0a72.6b0ec6"]]},{"id":"1eae0a72.6b0ec6","type":"arduino out","z":"3eed236a.e6e66c","name":"","pin":"4","state":"OUTPUT","arduino":"4c1547f.4e51fb8","x":730,"y":400,"wires":[]},{"id":"a5d0846b.f39c58","type":"change","z":"3eed236a.e6e66c","name":"global light","rules":[{"t":"move","p":"payload","pt":"msg","to":"UserLight","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":340,"wires":[[]]},{"id":"7cbebd81.cfec84","type":"arduino in","z":"3eed236a.e6e66c","name":"","pin":"0","state":"ANALOG","arduino":"4c1547f.4e51fb8","x":870,"y":820,"wires":[["e79642f5.92604"]]},{"id":"e79642f5.92604","type":"delay","z":"3eed236a.e6e66c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1010,"y":820,"wires":[["d701470f.8e3578"]]},{"id":"23432ec7.ae12f2","type":"change","z":"3eed236a.e6e66c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"CCLight","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":780,"wires":[[]]},{"id":"d701470f.8e3578","type":"function","z":"3eed236a.e6e66c","name":"Light scale","func":"msg.payload = msg.payload/10;\n\nif(msg.payload >100){\n    msg.payload=100;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":740,"wires":[["eac37692.32d348","23432ec7.ae12f2"]]},{"id":"410df15f.372b9","type":"telegram command","z":"3eed236a.e6e66c","name":"set lock","command":"/lock","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":170,"y":2280,"wires":[["64742cb5.69a554"],[]]},{"id":"64742cb5.69a554","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\n\nvar order = String(msg.payload.content);\nif (order == \" on\"){\n    global.set(\"Lockk\",true);\n    msg.payload.content=\"lock opened\";\n}\nelse if(order == \" off\"){\n    global.set(\"Lockk\",false);\n    msg.payload.content = \"lock closed\";\n}\nelse{\n    var MMsg =  \"invalid format !\\n\";\n    MMsg += \"Your message must be like this :\\n\";\n    MMsg += \"/lock on/off\";\n    msg.payload.content = MMsg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2280,"wires":[["a1590908.a03378"]]},{"id":"a1590908.a03378","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":610,"y":2280,"wires":[[]]},{"id":"af633374.62fa","type":"inject","z":"3eed236a.e6e66c","name":"","topic":"","payload":"Lockk","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":240,"wires":[["5c4bde2e.92255"]]},{"id":"72b92bf8.e0d854","type":"telegram command","z":"3eed236a.e6e66c","name":"set fan","command":"/fan","bot":"c718c46f.3be8d8","strict":false,"hasresponse":true,"x":190,"y":2440,"wires":[["cf69efbb.808fd"],[]]},{"id":"cf69efbb.808fd","type":"function","z":"3eed236a.e6e66c","name":"About Command","func":"msg.payload.type = \"message\";\n\nvar order = String(msg.payload.content);\nif (order == \" on\"){\n    global.set(\"Fann\",true);\n    msg.payload.content=\"fan started\";\n}\nelse if(order == \" off\"){\n    global.set(\"Fann\",false);\n    msg.payload.content = \"fan stoped\";\n}\nelse{\n    var MMsg =  \"invalid format !\\n\";\n    MMsg += \"Your message must be like this :\\n\";\n    MMsg += \"/fan on/off\";\n    msg.payload.content = MMsg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2440,"wires":[["97f356a.55e0aa8"]]},{"id":"97f356a.55e0aa8","type":"telegram sender","z":"3eed236a.e6e66c","name":"","bot":"c718c46f.3be8d8","x":630,"y":2440,"wires":[[]]},{"id":"4bdacf83.96b16","type":"inject","z":"3eed236a.e6e66c","name":"","topic":"","payload":"Fann","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["db88ac5e.e0155"]]},{"id":"725a513a.7eeb5","type":"ui_group","z":"","name":"Controllers","tab":"a029e96d.a78388","order":1,"disp":true,"width":"6","collapse":false},{"id":"cad5dfd6.a4422","type":"ui_group","z":"","name":"Charts","tab":"a029e96d.a78388","order":2,"disp":true,"width":"8","collapse":false},{"id":"6bf6e3db.d3639c","type":"ui_group","z":"","name":"Real Time Values","tab":"a029e96d.a78388","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f528b70.cadb14","type":"ui_group","z":"","name":"Informations","tab":"607cd167.3ed39","order":1,"disp":true,"width":"10","collapse":false},{"id":"47dc2965.7014f8","type":"ui_group","z":"","name":"Data History","tab":"a029e96d.a78388","order":5,"disp":true,"width":"10","collapse":false},{"id":"ee746112.8912a","type":"sqlitedb","z":"","db":"/home/poorya/Desktop/iot project/Main.db","mode":"RWC"},{"id":"c718c46f.3be8d8","type":"telegram bot","z":"","botname":"IOT_SmartHomeBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1ef16191.9ff59e","type":"twilio-api","z":"","name":"IOT_SMS","sid":"AC9ae2ff94991a07a09cbeb6581569793f","from":"+13238591052"},{"id":"4c1547f.4e51fb8","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"a029e96d.a78388","type":"ui_tab","z":"","name":"Smart Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"607cd167.3ed39","type":"ui_tab","z":"","name":"Account","icon":"dashboard","order":2,"disabled":false,"hidden":false}]